/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand: #f16b5f;
  --vp-c-brand-light: #ec857c;
  --vp-c-brand-lighter: #e99f98;
  --vp-c-brand-lighter-item: #f5a5a150;
  --vp-c-brand-dark: #f15547;
  --vp-c-brand-darker: #ce5d52;
  --vp-c-brand-dimm: #c9433710;
  --vp-z-index-nav: 999 !important;
  --vp-z-index-footer: -10;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-text-dark-1);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-text-dark-1);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-text-dark-1);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --color1: #f16b5f;
  --color2: #000000;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #f16b5f 39%, #000000);
  --vp-home-hero-name-background-title: -webkit-linear-gradient(120deg, #f16b5f 39%, currentColor);

  --vp-home-hero-image-background-image: linear-gradient(-45deg, var(--color1) 50%, var(--color2) 50%, transparent 99%);
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

/* :root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lighter);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
} */

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

.link {
  padding: 4px 0;
}
.VPButton.medium {
  border-radius: 0px;
}
