/node_modules/**
.local
/dist/*
/test/**
/build/*
**/*.svg
lib/
esm/
dist/
build/
_site/
coverage/
CNAME
LICENSE
*.sh
*.snap
.gitignore
.npmignore
.prettierignore
.DS_Store
.editorconfig
.eslintignore
**/*.yml
components/style/color/*.less
**/assets
.gitattributes
.stylelintrc
.vcmrc
.png
.npmrc.template
.huskyrc
.gitmodules
*.png
v2-doc/
pnpm-lock.yaml
pnpm-workspace.yaml