/node_modules/**
.local
/dist/*
/test/**
/build/*
**/*.svg
lib/
esm/
dist/
build/
LICENSE
*.sh
*.snap
.gitignore
.npmignore
.prettierignore
.DS_Store
.editorconfig
.eslintignore
**/*.yaml
**/*.yml
**/assets
.gitattributes
.png
.npmrc.template
.huskyrc
.gitmodules
*.png
pnpm-lock.yaml
pnpm-workspace.yaml